<header class="header">
  <div class="container">
    <div class="spacer-30px"></div>

    <div class="row">
      <div class="col-sm-6">
        <img class="logo float-left" src="src/logo-sm.png" alt="" />
      </div>

      <div class="col-sm-6 user-name-group">
        <i class="fas fa-user-circle"></i>
        <h1 class="user-name">Mikel</h1>
        <i class="fa fa-angle-down"></i>
      </div>
    </div>

    <div class="spacer-30px"></div>

    <div class="row navigation-list-move-right">
      <ul class="navigation-list">
        <!--
          <li><a href="pages/response.html"  class="link" href="">Response</a></li><div class="divider">|</div>
        -->
        <li><a href="pages/budget.html" class="link" href="">Clients</a></li>
        <div class="divider">|</div>
        <li>
          <a href="pages/performance.html" class="link" href="">Performance</a>
        </li>
        <div class="divider">|</div>
        <li>
          <a href="pages/summary.html" class="link link--currentPage" href="">Summary</a>
        </li>
        <div class="divider">|</div>
      </ul>
    </div>
    <!-- end of container -->
  </div>
</header>

<div>
<app-clients></app-clients>
</div>

<div class="spacer-139px"></div>

<div class="pagination-container">
  <div class="spacer-25px"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="pagination-button pagination-button-left">
          <i class="fal fa-angle-left"
            ><label class="pagination-label" for="">Last Program</label></i
          >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="pagination-button pagination-button-right float-right">
          <label class="pagination-label" for="">Next Program</label
          ><i class="fal fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
