<header class="header">

  <div class="container">
    <div class="spacer-30px"></div>

    <div class="row">
      <div class="col-sm-6">
        <img class="logo float-left" src="src/logo-sm.png" alt="" />
      </div>

      <div class="col-sm-6 user-name-group">
        <i class="fas fa-user-circle"></i>
        <h1 class="user-name">Mikel</h1>
        <i class="fa fa-angle-down"></i>
      </div>
    </div>

    <div class="spacer-30px"></div>

    <div class="row navigation-list-move-right">
      <ul class="navigation-list">
        <!--
          <li><a href="pages/response.html"  class="link" href="">Response</a></li><div class="divider">|</div>
        -->
        <li><a routerLink = "clients" routerLinkActive="link link--currentPage" href="">Clients</a></li>
        <div class="divider">|</div>
        <li>
          <a routerLink ="performance" routerLinkActive="link link--currentPage" href="">Performance</a>
        </li>
        <div class="divider">|</div>
        <li>
          <a routerLink = "summary" routerLinkActive="link link--currentPage" href="">Summary</a>
        </li>
        <div class="divider">|</div>
      </ul>
    </div>
    <!-- end of container -->
  </div>
</header>

<div>
<router-outlet></router-outlet>
</div>
