body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
}
.header {
  background-color: #0a9cdf;
  /* width: 100%; */
}
.spacer-30px {
  height: 30px;
}
.spacer-24px {
  height: 24px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.container {
  min-width: 1140px;
  max-width: 1140px;
}
.logo {
  font-size: 33px;
  font-weight: 800;
  color: #ffffff;
}

.user-name {
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
  top: -7px !important;
}

.user-name-group {
  text-align: right;
}

.advanced {
  color: #007bff;
  float: right;
  position: relative;
  top: 34px;
}

.fa-user-circle {
  color: #ffffff;
  font-size: 34px;
}

.fa-angle-down {
  color: #ffffff;
  /* font-size: 5px; */
  position: relative;
  top: -7px !important;
}
.navigation-list {
  display: inherit;
  list-style-type: none;
  margin-bottom: 0px;
  padding-right: 0px;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 3px;
}

.navigation-list li {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  display: inline;
  padding-bottom: 15px;
}

.navigation-list .link--currentPage {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 15px;
}

.navigation-list .link--currentPage:hover {
  border-bottom: 4px solid #ffffff;
}

.navigation-list-active {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}

.navigation-list-move-right {
  direction: rtl;
}

.section-controller-group {
  background-color: #eceff1;
  /* height: 300px; */
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}
.dropdown-text {
  display: initial;
}

.dropdown-toggle::after {
  /* margin-left: 27.855em !important; */
  color: #4a87dc !important;
  text-align: right;
  float: right;
  position: relative;
  top: 9px;
  /* position: relative;
left: 342px; */
}

.btn-secondary {
  background-color: white !important;
  color: #494949 !important;
  box-shadow: none !important;
  font-size: 14px;
  border: 1px solid #b5b5b5 !important;
  border-radius: 3px;
}

.btn-secondary:hover {
  background-color: #fafafa;
  color: #494949;
}

.btn-secondary:active {
  background-color: #fafafa;
  color: #494949;
}
.dropdown-menu {
  width: 100% !important;
  color: #494949 !important;
  box-shadow: none !important;
  font-size: 14px;
  border: 1px solid #b5b5b5 !important;
  border-radius: 3px;
}

.dropdown-label {
  margin-bottom: 6px !important;
  font-size: 14px;
  color: #9b9b9b !important;
}

.datepicker {
  position: relative !important;
  top: 0px !important;
  left: 0 !important;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

.bold {
  color: black;
}

.summary-chart-container {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 #b5b5b5;
  padding-left: 57px;
  padding-right: 38px;
}

.spacer-16px {
  height: 16px;
}

.spacer-20px {
  height: 20px;
}

.spacer-41px {
  height: 41px;
}

.program-header {
  color: #494949;
  font-size: 32px;
}

.program-description {
  color: #494949;
  font-size: 16px;
}

.no-col-padding {
  padding-left: 0px;
}

.panel {
  position: relative;
  background: #fff;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.chart {
  display: inline-block;
  width: 110px;
  margin: 40px auto 20px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0 10px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 17px;
}

sup {
  top: -0.2em;
  margin-left: 1px;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  color: #c9cccb;
}
p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
p + p {
  padding-top: 5px;
  padding-bottom: 20px;
}
.chart-data {
  color: #494949;
  font-size: 40px;
  letter-spacing: 0.53px;
}
.chart-label {
  color: #494949;
  font-size: 16px;
  letter-spacing: 0.19px;
  text-align: center;
  position: relative;
  left: -21px;
}
.fa-long-arrow-up-positive {
  color: #abe9de;
}

.fa-long-arrow-neutral {
  color: #ddc6e5;
}

.fa-long-arrow-negative {
  color: #f8c3bb;
}

.spacer-139px {
  height: 139px;
}

.spacer-25px {
  height: 25px;
}

.spacer-67-21px {
  height: 67.21px;
}

.wrap {
  height: 48px;
  width: 95px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background-color: #ffffff;
  float: right;
  position: relative;
  top: 22px;
}
.control-box-view {
  border-right: 1px solid #b5b5b5;
  float: left;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.control-box-edit {
  border-right: 1px solid #b5b5b5;
  float: right;
  width: 50%;
  height: 100%;
}

.icon-center {
  text-align: center;
  display: inherit;
  vertical-align: middle;
  padding-bottom: 2.5px;
  padding-top: 6.5px;
}

.icon-label {
  color: #6e7276;
  font-size: 10px;
  text-align: center;
  display: inherit;
  vertical-align: middle;
  margin-bottom: 0px;
}

.pagination-container {
  background-color: #f5f5f5;
  box-shadow: 0 0 4px 0 #b5b5b5;
  height: 100px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.pagination-button {
  width: 143px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  color: #494949;
  font-size: 14px;
  padding: 12px;
}

.pagination-label {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

.fa-angle-left:before {
  content: "\f104";
  padding-right: 11px;
}
.fa-angle-right:before {
  padding-left: 11px;
}

.float-right {
  float: right;
}

.fa-calendar-alt {
  float: right;
  position: relative;
  top: 38px;
  left: -10px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* .control-box-view{
width:
} */

.fancybox-content {
  padding: 0px;
}

.modal-header-padding {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0a9cdf;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.modal-header--yourSeat {
  font-weight: 300;
}

.numberCircle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.userCircle {
  height: 65px;
  width: 65px;
  padding-top: 13px;
  background-color: #afafaf;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.numberCircle-container {
  /* border: 1px solid;   */
  padding-top: 13px;
  padding-bottom: 8px;
  display: inherit;
  padding-left: 12px;
}

.numberCircle---third {
  position: relative;
  top: -12px;
}

.sections-container {
  border: 1px solid #d5d9de;
}

.numberCircle--active {
  color: #0a9cdf;
  border: 2px solid #0a9cdf;
}

.numberCircle--text--active {
  color: white;
}

.numberCircle--inactive {
  color: #ffff;
  border: 2px solid #0a9cdf;
  background-color: #0a9cdf;
}

.numberCircle--text--inactive {
  color: #0a9cdf;
}

.numberCircle-container--inactive {
  opacity: 0.6;
}

.button-submit {
  height: 40px;
  width: 110px;
  border-radius: 3px;
  background-color: #0a9cdf;
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); */
  color: #ffffff;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
}

.button-secondary {
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
}
.header {
  background-color: #0a9cdf;
  /* width: 100%; */
}
.spacer-30px {
  height: 30px;
}
.spacer-24px {
  height: 24px;
}
.spacer-26px {
  height: 26px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.container {
  min-width: 1140px;
  max-width: 1140px;
}
.logo {
  font-size: 33px;
  font-weight: 800;
  color: #ffffff;
}

.user-name {
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
  top: -7px !important;
}

.user-name-group {
  text-align: right;
}

.advanced {
  color: #007bff;
  float: right;
  position: relative;
  top: 34px;
}

.fa-user-circle {
  color: #ffffff;
  font-size: 34px;
}

.fa-angle-down {
  color: #ffffff;
  /* font-size: 5px; */
  position: relative;
  top: -7px !important;
}
.navigation-list {
  display: inherit;
  list-style-type: none;
  margin-bottom: 0px;
  padding-right: 0px;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 3px;
}

.navigation-list li {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  display: inline;
  padding-bottom: 15px;
}

.navigation-list .link--currentPage {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 15px;
}

.navigation-list .link--currentPage:hover {
  border-bottom: 4px solid #ffffff;
}

.navigation-list-active {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}

.navigation-list-move-right {
  direction: rtl;
}

.section-controller-group {
  background-color: #eceff1;
  /* height: 300px; */
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}
.dropdown-text {
  display: initial;
}

.dropdown-toggle::after {
  /* margin-left: 27.855em !important; */
  color: #4a87dc !important;
  text-align: right;
  float: right;
  position: relative;
  top: 9px;
  /* position: relative;
left: 342px; */
}

.btn-secondary {
  background-color: white !important;
  color: #494949 !important;
  box-shadow: none !important;
  font-size: 14px;
  border: 1px solid #b5b5b5 !important;
  border-radius: 3px;
}

.btn-secondary:hover {
  background-color: #fafafa;
  color: #494949;
}

.btn-secondary:active {
  background-color: #fafafa;
  color: #494949;
}

.dropdown-menu {
  width: 100% !important;
  color: #494949 !important;
  box-shadow: none !important;
  font-size: 14px;
  border: 1px solid #b5b5b5 !important;
  border-radius: 3px;
}

.dropdown-label {
  margin-bottom: 6px !important;
  font-size: 14px;
  color: #9b9b9b !important;
}

.datepicker {
  position: relative !important;
  top: 0px !important;
  left: 0 !important;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

.bold {
  color: black;
  /* background-color: #dbecf3; */
}

.summary-chart-container {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 #b5b5b5;
  padding-left: 57px;
  padding-right: 38px;
}

.spacer-16px {
  height: 16px;
}

.spacer-20px {
  height: 20px;
}

.spacer-41px {
  height: 41px;
}

.program-header {
  color: #494949;
  font-size: 32px;
}

.program-description {
  color: #494949;
  font-size: 16px;
}

.no-col-padding {
  padding-left: 0px;
}

.panel {
  position: relative;
  background: #fff;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.chart {
  display: inline-block;
  width: 110px;
  margin: 40px auto 20px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0 10px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 17px;
}

sup {
  top: -0.2em;
  margin-left: 1px;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  color: #c9cccb;
}
p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
p + p {
  padding-top: 5px;
  padding-bottom: 20px;
}
.chart-data {
  color: #494949;
  font-size: 40px;
  letter-spacing: 0.53px;
}
.chart-label {
  color: #494949;
  font-size: 16px;
  letter-spacing: 0.19px;
  text-align: center;
  position: relative;
  left: -21px;
}
.fa-long-arrow-up-positive {
  color: #abe9de;
}

.fa-long-arrow-neutral {
  color: #ddc6e5;
}

.fa-long-arrow-negative {
  color: #f8c3bb;
}

.spacer-139px {
  height: 139px;
}

.spacer-25px {
  height: 25px;
}

.spacer-67-21px {
  height: 67.21px;
}

.wrap {
  height: 48px;
  width: 95px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background-color: #ffffff;
  float: right;
  position: relative;
  top: 22px;
}
.control-box-view {
  border-right: 1px solid #b5b5b5;
  float: left;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.control-box-edit {
  border-right: 1px solid #b5b5b5;
  float: right;
  width: 50%;
  height: 100%;
}

.icon-center {
  text-align: center;
  display: inherit;
  vertical-align: middle;
  padding-bottom: 2.5px;
  padding-top: 6.5px;
}

.icon-label {
  color: #6e7276;
  font-size: 10px;
  text-align: center;
  display: inherit;
  vertical-align: middle;
  margin-bottom: 0px;
}

.pagination-container {
  background-color: #f5f5f5;
  box-shadow: 0 0 4px 0 #b5b5b5;
  height: 100px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.pagination-button {
  width: 143px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  color: #494949;
  font-size: 14px;
  padding: 12px;
}

.pagination-label {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

.fa-angle-left:before {
  content: "\f104";
  padding-right: 11px;
}
.fa-angle-right:before {
  padding-left: 11px;
}

.float-right {
  float: right;
}

.fa-calendar-alt {
  float: right;
  position: relative;
  top: 38px;
  left: -10px;
}

.fa-calendar-alt--lightbox {
  top: 25px !important;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* .control-box-view{
width:
} */

.fancybox-content {
  padding: 0px;
}

.modal-header-padding {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0a9cdf;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.modal-header--yourSeat {
  font-weight: 300;
}

.numberCircle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.userCircle {
  height: 65px;
  width: 65px;
  padding-top: 13px;
  background-color: #afafaf;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.numberCircle-container {
  /* border: 1px solid;   */
  padding-top: 13px;
  padding-bottom: 8px;
  display: inherit;
  padding-left: 12px;
}

.numberCircle---third {
  position: relative;
  top: -12px;
}

.sections-container {
  border: 1px solid #d5d9de;
}

.numberCircle--active {
  color: #0a9cdf;
  border: 2px solid #0a9cdf;
}

.numberCircle--text--active {
  color: white;
}

.numberCircle--inactive {
  color: #ffff;
  border: 2px solid #0a9cdf;
  background-color: #0a9cdf;
}

.numberCircle--text--inactive {
  color: #0a9cdf;
}

.numberCircle-container--inactive {
  opacity: 0.6;
}

.button-submit {
  height: 40px;
  width: 110px;
  border-radius: 3px;
  background-color: #0a9cdf;
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); */
  color: #ffffff;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
}

.button-secondary {
}

.hide {
  display: none;
}

/* .numberBackground--active{
background-color: #0a9cdf; display: inherit; box-shadow: 0 1px 60px 0 rgba(60,64,67,0)
} */

.dropdown-item.active,
.dropdown-item:active {
  background-color: white !important;
}
.numberBackground--active {
  background-color: #0a9cdf;
}

.ui-slider-range {
  background: green;
}
.percent {
  color: green;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border: none;
}

.nav-pills {
  border: 1px solid #6c757d;
  color: #6c757d;
  opacity: 0.65;
  height: 40px;
  width: 84px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  padding-top: 7px;
}

.nav-pills--active {
  color: #fff;
  background-color: #6c757d;
  /* height: 40px;
width: 84px; */
  /* border-radius: 4px;
text-align: center;
position: relative;
padding-top: 7px; */
}
